allCountries.*
alternateNames.*
alternateNamesV2.*
allCountries_w_alt.txt*
admin1Codes.*
admin1CodesASCII.*
admin2Codes.*
cities1000.*
cities15000.*
cities5000.*
cities_geonames_all.*
countryInfo.*
countryInfo_original.*
featureCodes_??.*
hierarchy.*
iso-languagecodes.*
no-country.*
null.*
timeZones.*
userTags.*
readme.txt

