-i https://pypi.org/simple
argparse==1.4.0
attrs==20.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
certifi==2020.6.20
click-plugins==1.1.1
click==7.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
cligj==0.5.0
decorator==4.4.2
elasticsearch-opentracing==0.1.4
elasticsearch==7.9.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3' and python_version < '4'
fiona==1.8.17
futures==3.1.1
geopandas==0.8.1
munch==2.5.0
neobase==0.20.5
networkx==2.5
numpy==1.19.2
opentracing==1.1.0
pandas==1.1.3; python_full_version >= '3.6.1'
pyproj==2.6.1.post1; python_version >= '3.5'
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pytz==2020.1
shapely==1.7.1
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
urllib3==1.25.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
