/tmp/
/archives/
/dump_from_geonames.csv
/por_a??_iata_????????.csv
/por_a??_icao_only_????????.csv
/por_a??_nocode_????????.csv
/por_a??_noicao_????????.csv
/por_a??_dup_iata_????????.csv
/por_intorg_????????.csv
/por_all_????????.csv
/oag_schedule_opt_??????_all.csv
/iata_air*_list_????????.txt
/dump_from_*.csv
