[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
datetime = "*"
requests = "*"
urllib3 = "*"
neobase = "*"
networkx = "*"
pandas = "*"
lxml = "*"
sparqlwrapper = "*"
common = "*"

[requires]
python_version = "3.8"
